<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wopin.qingpaopao">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        tools:replace="android:name,android:theme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Crop库 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 消除"power by sharesdk"字样 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:multiprocess="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="com.wopin.qingpaopao.adapter.MyAuthorizeAdapter" />
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.BuildBlogActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name="com.ble.ble.BleService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.mywopin.com.cup.wxapi.WXPayEntryActivity"
            android:exported="true" />
        <service
            android:name=".server.AlarmNotificationService"
            android:process=":remote" />

        <receiver
            android:name=".receiver.AlarmNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="AlarmNotificationReceiver_0730" />
                <action android:name="AlarmNotificationReceiver_0900" />
                <action android:name="AlarmNotificationReceiver_1100" />
                <action android:name="AlarmNotificationReceiver_1300" />
                <action android:name="AlarmNotificationReceiver_1500" />
                <action android:name="AlarmNotificationReceiver_1730" />
                <action android:name="AlarmNotificationReceiver_2000" />
                <action android:name="AlarmNotificationReceiver_2200" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.NotificationClickReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="NotificationClickReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>